# Server
PORT=5000
NODE_ENV=development

# PostgreSQL + PostGIS
DATABASE_URL=postgresql://postgres:password@localhost:5432/sahyog
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sahyog
DB_USER=postgres
DB_PASSWORD=password

# JWT Secrets
USER_JWT_SECRET=sahyog_user_secret_key_change_in_production_2026
ADMIN_JWT_SECRET=sahyog_admin_secret_key_change_in_production_2026
JWT_EXPIRES_IN=7d

# Firebase Service Account
FIREBASE_SERVICE_ACCOUNT_JSON=(json_string)

# split fields (if not using FIREBASE_SERVICE_ACCOUNT_JSON)
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your_project_id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
